*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 700;
}

html{
    scroll-behavior: smooth;
}

/* BARRA DE NAVEGACIÓN */

.nav{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #0065C3;
    align-items: center;
}

.nav a{
    text-decoration: none;
    padding: 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 1px;
}

.nav a:hover{
    color: #000;
}

.logo a img{
    width: 75px;
    height: 75px;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 50px;
}

/* HEADER */

.header{
    display: flex;
    background: #0065C3;
    background: -webkit-linear-gradient(to right, #2193b0, #0065C3); 
    background: linear-gradient(to right,  #2193b0, #0065C3);
    height: 560px;
}

.header-info h1{
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 100px;
    color: #fff;
}

.header-info a{
    margin-left: 100px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 12px;
    transition: all .7s;
}

.header-info a:hover{
    color: #0065C3;
    background-color: #fff;
}

.header-img img{
    margin-top: 30px;
    margin-right: 80px;
}

/* SECTION PRODUCTS */

.product-classic{
    display: flex;
    height: 768px;
    background: #0065C3;
    background: linear-gradient(to right,  hsla(192, 68%, 41%, 0.459), #0065C3); 
    background: linear-gradient(to right,  hsla(192, 68%, 41%, 0.459), #0065C3), url(../images/back-product003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #fff;
}

.product-light{
    display: flex;
    height: 768px;
    background: #ED0223;
    background: linear-gradient(to right, hsla(352, 98%, 47%, 0.404), #D31027); 
    background: linear-gradient(to right, hsla(352, 98%, 47%, 0.404), #D31027), url(../images/back-product002.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #fff;
}

.product-zerosugar{
    display: flex;
    height: 768px;
    background: #232526;
    background: linear-gradient(to right, hsla(210, 3%, 26%, 0.411), #232526); 
    background: linear-gradient(to right, hsla(210, 3%, 26%, 0.411), #232526), url(../images/back-product001.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: 1px solid #fff;
}

.info-product{
    margin-top: 250px;
    margin-left: 100px;
    color: #fff;
}

.info-product h1{
    font-size: 90px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.info-product p{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

.info-product a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 10px;
}

.info-product a:hover{
    color: #0065C3;
    background: #fff;
}
.image-product img{
    margin-top: 100px;
    margin-right: 190px;
    margin-left: 180px;
}